<% if signed_in? %>
<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-6">
<div class="fixed">
<div class="col-md-4">
      <section>
        <%= image_tag @user.avatar.url(:medium), :class => 'img-thumbnail' %> 
      </section>
      </div>
      <div class="col-md-6">
      <section>
        <%= @user.name %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' if @user.name==current_user.name %>
      </section>
      </div>
  </div>
  </div>
  <div class="col-md-6">
   <div class="feed_bord">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
  </div>
</div>  
<% else %>
<% provide(:title, "Home") %>
  <div class="center hero-unit">
    <h1>Welcome to the Pipo</h1>
    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>